@page "/asset/contract/payment"

@inject ToastMessageHelper toastMessageHelper
@inject NavigationManager navigationManager
@inject IHttpClientService httpClientService

<AuthorizeView>
    <Authorized>
        <HRMPanel Title="Thanh toán hợp đồng">
            <ButtonGroup>
                <HrmButton Color="@Constant.Enums.Color.Primary" Text="Thêm mới" OnClick="AddNewClick" />
            </ButtonGroup>
            <PanelContent>
                <HrmTable Column="9" Page="@parameterModel.Page" TotalItems="@totalItems" OnPageChange="@PageChange">
                    <Search>
                        <div class="row mb-3">
                            <div class="col-md-8 col-sm-6 col-xs-12">
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div class="input-group">
                                    <input type="text" class="form-control" @bind-value="@textSearch" placeholder="Tìm kiếm" />
                                    <HrmButton Color="@Color.Primary" Text="Tìm" OnClick="@SearchClick" />
                                </div>
                            </div>
                        </div>
                    </Search>
                    <Header>
                        <HrmTableTr>
                            <HrmTableTh Id="Code" SortColumnId="@currentSortColumn" Text="Số hợp dồng" Sort="true"
                                        OnSortClick="@((arg) => OrderColumnClick(m => m.Code, arg, "Code"))"
                                        style="min-width: 90px;" />
                            <HrmTableTh Id="Payment" SortColumnId="@currentSortColumn" Text="Số tiền" Sort="true"
                                        OnSortClick="@((arg) => OrderColumnClick(m => m.Payment, arg, "Payment"))"
                                        style="min-width: 90px;" TextAlign="@TextAlign.Right" />
                            <HrmTableTh Id="PaymentDate" SortColumnId="@currentSortColumn" Text="Ngày thanh toán" Sort="true"
                                        OnSortClick="@((arg) => OrderColumnClick(m => m.PaymentDate, arg, "PaymentDate"))"
                                        style="min-width: 150px;" />
                            <HrmTableTh Id="Note" SortColumnId="@currentSortColumn" Text="Ghi chú" Sort="true"
                                        OnSortClick="@((arg) => OrderColumnClick(m => m.Note, arg, "Note"))"
                                        />
                            <HrmTableTh Text="" Sort="false" style="width: 100px;" />
                        </HrmTableTr>
                    </Header>
                    <Body>
                        @if (tableLoading == true)
                        {
                            <HrmTableTr>
                                <HrmTableTd Col="9">
                                    <HrmLinearLoading />
                                </HrmTableTd>
                            </HrmTableTr>
                        }
                        else
                        {
                            if (totalItems == 0)
                            {
                                <HrmTableNoData Column="9" />
                            }
                            else
                            {
                                int count = 0;
                                foreach (var item in listData)
                                {
                                    count++;
                                    <HrmTableTr class="@(count % 2 == 0 ? "odd" : "even")">
                                        <HrmTableTd>
                                            @item.Code
                                        </HrmTableTd>
                                        <HrmTableTd>
                                            @item.Payment
                                        </HrmTableTd>
                                        <HrmTableTd>
                                            @item.PaymentDate
                                        </HrmTableTd>
                                        <HrmTableTd>
                                            @item.Note
                                        </HrmTableTd>
                                        <HrmTableTd TextAlign="@Constant.Enums.TextAlign.Center">
                                            <HrmButtonGroup Text="Chọn">
                                                <ActionItems>
                                                    <HrmButtonGroupItem Text="Cập nhật" Data="item" T="AssetContractPaymentGridModel" OnClick="@UpdateClick" />
                                                    <HrmDivider />
                                                    <HrmButtonGroupItem text="Xóa" T="AssetContractPaymentGridModel" Data="item" OnClick="@DeleteClick" />
                                                </ActionItems>
                                            </HrmButtonGroup>
                                        </HrmTableTd>
                                    </HrmTableTr>
                                }
                            }
                        }
                    </Body>
                </HrmTable>
            </PanelContent>
        </HRMPanel>
        <HrmConfirmDialog Title="Xác nhận" @ref="deleteDialog" T="AssetContractPaymentGridModel" Data="deletedItem" AgreeeClick="@AgreeDeleteClick">
            <Body>
                <p>Bạn có muốn xóa dữ liệu đang chọn?</p>
            </Body>
            <Buttons>
                <p></p>
            </Buttons>
        </HrmConfirmDialog>
    </Authorized>
    <NotAuthorized>
        <HrmNotAuthorize />
    </NotAuthorized>
</AuthorizeView>



@code {

    [CascadingParameter(Name = "Bredcrumb")]
    public List<BreadcurmbModel> Breadcrumb { get; set; } = new List<BreadcurmbModel>();

    private bool tableLoading = true;

    private string textSearch = string.Empty;

    private List<AssetContractPaymentGridModel> listData = new List<AssetContractPaymentGridModel>();
    private long totalItems = 0;
    private int tableCounter = 0;
    private string currentSortColumn = string.Empty;

    private AssetContractPaymentGridParameterModel parameterModel = new AssetContractPaymentGridParameterModel();

    private HrmConfirmDialog<AssetContractPaymentGridModel> deleteDialog = new HrmConfirmDialog<AssetContractPaymentGridModel>();
    private AssetContractPaymentGridModel deletedItem = new AssetContractPaymentGridModel();

    protected async override Task OnInitializedAsync()
    {
        Breadcrumb.Add(new BreadcurmbModel()
        {
            Title = "Tài sản",
            Href = "asset",
            IsActive = false,
        });

        Breadcrumb.Add(new BreadcurmbModel()
        {
            Title = "Hợp đồng",
            Href = "asset/contract",
            IsActive = false,
        });

        Breadcrumb.Add(new BreadcurmbModel()
        {
            Title = "Thanh toán",
            IsActive = true,
        });

        //await LoadGridData();
    }

    private async Task SearchClick()
    {
        parameterModel.TextSearch = textSearch;
        await LoadGridData();
    }

    private async Task PageChange(Page page)
    {
        parameterModel.Page = page;
        await LoadGridData();
    }

    private void AddNewClick()
    {
        navigationManager.NavigateTo("asset/contract/payment/create");
    }

    private void UpdateClick(AssetContractPaymentGridModel item)
    {
        navigationManager.NavigateTo($"asset/contract/payment/update/{item.Id}");
    }

    private void DeleteClick(AssetContractPaymentGridModel item)
    {
        deletedItem = item;
        deleteDialog.Open();
    }

    private async Task AgreeDeleteClick(AssetContractPaymentGridModel item)
    {
        deleteDialog.Close();
        var result = await httpClientService.Delete<AssetContractPaymentModel, HttpActionResponseWrapper>($"asset-contract-payment/{item.Id}");
        if (result.Succeeded)
        {
            await toastMessageHelper.DeleteSuccess();
            await LoadGridData();
        }
        else
        {
            await toastMessageHelper.DeleteError();
        }
    }

    private async Task LoadGridData()
    {
        tableLoading = true;
        currentSortColumn = string.Empty;

        var result = await httpClientService.Post<AssetContractPaymentGridParameterModel, HttpDataResponseWrapper<Model.Grid<AssetContractPaymentGridModel>>>("asset-contract-payment/grid", parameterModel);
        if (result != null)
        {
            listData = result.Data.List?.ToList() ?? new List<AssetContractPaymentGridModel>();
            totalItems = result.Data.Count;
            tableCounter = ((parameterModel.Page.Index - 1) * parameterModel.Page.Size);
            tableLoading = false;
        }
        StateHasChanged();
    }

    private void OrderColumnClick(Expression<Func<AssetContractPaymentGridModel, dynamic>> expression, TableSort sort, string sortColumnName)
    {
        listData = listData.ColumnSort(expression, sort);
        currentSortColumn = sortColumnName;
    }

}
