@page "/hr/contacts/customer"

<AuthorizeView>
    <Authorized Context="Auth">
        <HRMPanel Title="Danh sách khách hàng">
            <ButtonGroup>
                <Button Type="@ButtonType.Primary" OnClick="@AddNewClick">Thêm mới</Button>
            </ButtonGroup>
            <PanelContent>
                <div class="row mb-2">
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <Search Placeholder="Tìm kiếm" EnterButton="@("Tìm kiếm")" DefaultValue="@("")"
                                @bind-Value="@parameterModel.TextSearch"
                                OnSearch="SearchClick" Disabled="@tableLoading" />
                    </div>
                </div>
                <Table DataSource="@listData" Bordered="true" Loading="@tableLoading" PageSize="@parameterModel.Page.Size">
                    <RowTemplate>
                        <Column @bind-Field="@context.Name" Title="Tên KH"
                                Sortable="true" Width="200px" ShowSorterTooltip="false" />
                        <Column @bind-Field="@context.Phone" Title="SDT"
                                Sortable="true" Width="150px" ShowSorterTooltip="false" />
                        <Column @bind-Field="@context.Email" Title="Email"
                                Sortable="true" Width="250px" ShowSorterTooltip="false" />
                        <Column @bind-Field="@context.Address" Title="Địa chỉ"
                                Sortable="true" ShowSorterTooltip="false" />
                        <Column Field="@context.IsActive" Title="Sử dụng" Width="100px" Sortable="false">
                            <Switch @bind-Value="@context.IsActive" Disabled="true" />
                        </Column>
                        <ActionColumn Width="90" Fixed="right">
                            <Dropdown Placement="@PlacementType.BottomRight">
                                <ChildContent>Chọn <i class="fa fa-angle-down" aria-hidden="true" style="margin-left: 10px;"></i></ChildContent>
                                <Overlay>
                                    <Menu>
                                        <MenuItem>
                                            <Button Type="@ButtonType.Text" OnClick="@(() => UpdateClick(context))">Cập nhật</Button>
                                        </MenuItem>
                                        <MenuItem>
                                            <Button Type="@ButtonType.Text" OnClick="@(() => DeleteClick(context))" Danger="true">Xóa</Button>
                                        </MenuItem>
                                    </Menu>
                                </Overlay>
                            </Dropdown>
                        </ActionColumn>
                    </RowTemplate>
                    <ExpandTemplate>
                        <div class="clearfix">
                            <div class="row">
                                <div class="col-md-2 col-sm-1"></div>
                                <div class="col-md-8 col-sm-10">
                                    <div class="row">
                                        <div class="col-12">
                                            <h4>Thông tin liên hệ</h4>
                                            <table class="table table-bordered table-striped" style="border: 1px solid #f0f0f0;">
                                                <thead class="thead-dark">
                                                    <tr>
                                                        <th style="width: 250px;">Họ tên</th>
                                                        <th>Số ĐT</th>
                                                        <th>Email</th>
                                                        <th>Chức danh</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @if (context.Data.Contacts != null && context.Data.Contacts.Count() > 0)
                                                    {
                                                        foreach (var item in context.Data.Contacts)
                                                        {
                                                            <tr>
                                                                <td>@item.Name</td>
                                                                <td>@item.Phone</td>
                                                                <td>@item.Email</td>
                                                                <td>@item.Position</td>
                                                            </tr>
                                                        }
                                                    }

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-1"></div>
                            </div>
                        </div>

                    </ExpandTemplate>
                    <PaginationTemplate>
                        <div class="mt-3 mb-3 hrm-table-navigation">
                            <Pagination ShowSizeChanger="true" Responsive="true"
                                        DefaultCurrent="5" Total="@totalItems" ShowTotal="@showTotal"
                                        PageSize="@parameterModel.Page.Size" DefaultPageSize="@parameterModel.Page.Index"
                                        OnChange="@PageChange" />
                        </div>
                    </PaginationTemplate>
                </Table>
            </PanelContent>
        </HRMPanel>
        <Modal Visible="@isVisibleDeleteModel" Draggable="false" Closable="false" Centered="true" Keyboard="false" MaskClosable="false"
               OnOk="@AgreeDeleteClick" OkText="@("Đồng ý")" OkType="danger"
               OnCancel="@((e) => { isVisibleDeleteModel = false; deletedItem = null; })" CancelText="@("Hủy")">
            <ChildContent>
                Bạn có muốn xóa dòng dữ liệu đang chọn?
            </ChildContent>
        </Modal>
    </Authorized>
    <NotAuthorized>
        <HrmNotAuthorize />
    </NotAuthorized>
</AuthorizeView>