@page "/asset/contract/create"
@page "/asset/contract/update/{Id:long}"

<AuthorizeView Context="Auth">
    <Authorized>
        <HRMPanel Title="@pageTitle">
            <PanelContent>
                <Spin Spinning="@pageLoading">
                    <Form Model="@model" OnFinish="@OnFinish">
                        <ObjectGraphDataAnnotationsValidator />
                        <div class="row">
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="mb-1">
                                    <label>Số hợp đồng</label>
                                    <FormItem>
                                        <Input @bind-Value="@model.Code" class="form-control" MaxLength="20" tabindex="1" />
                                    </FormItem>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div class="mb-1">
                                    <label>Đơn vị cung cấp</label>
                                    <FormItem>
                                        <Select DataSource="@vendorList" @bind-Value="@model.VendorIdValue" DefaultValue="@("")"
                                                ValueName="@nameof(BaseSelectboxModel.Id)" LabelName="@nameof(BaseSelectboxModel.Name)"
                                                AllowClear="true" class="form-group" tabindex="5"
                                                OnSelectedItemChanged="@(item => { model.VendorId = item != null ? long.Parse(item.Id) : null; StateHasChanged(); })">
                                        </Select>
                                    </FormItem>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div class="mb-1">
                                    <label>Ngày ký HĐ</label>
                                    <FormItem>
                                        <DatePicker @bind-Value="@model.SignDate" Format="MM/dd/yyyy" class="form-control" MaxLength="10" tabindex="3" />
                                    </FormItem>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div class="mb-1">
                                    <label>Ngày thanh lý</label>
                                    <FormItem>
                                        <DatePicker @bind-Value="@model.LiquidationDate" Format="MM/dd/yyyy" class="form-control" MaxLength="10" tabindex="4" />
                                    </FormItem>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div class="mb-1">
                                    <label>Trị giá HĐ</label>
                                    <FormItem>
                                        <AntDesign.InputNumber @bind-Value="@model.TotalCost" Size="@InputSize.Small" Disabled="true"
                                                               DefaultValue="0" MaxLength="15" tabindex="5" class="form-control"
                                                               Formatter="@FormatMoney" Parser="@ParseMoney" />
                                    </FormItem>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div class="mb-1">
                                    <label>Đã thanh toán</label>
                                    <FormItem>
                                        <AntDesign.InputNumber @bind-Value="@model.Payment" Disabled="true" Size="@InputSize.Small"
                                                               DefaultValue="0" MaxLength="15" tabindex="6" class="form-control"
                                                               Formatter="@FormatMoney" Parser="@ParseMoney" />
                                    </FormItem>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="mb-1">
                                    <label>Còn lại</label>
                                    <FormItem>
                                        <AntDesign.InputNumber @bind-Value="@model.ResidualValue" Disabled="true" Size="@InputSize.Small"
                                                               DefaultValue="0" MaxLength="15" tabindex="7" class="form-control"
                                                               Formatter="@FormatMoney" Parser="@ParseMoney" />
                                    </FormItem>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="mb-3">
                                    <label>Ghi chú</label>
                                    <FormItem>
                                        <TextArea @bind-Value="@model.Notes" class="form-control" row="5" tabindex="8" />
                                    </FormItem>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-1">
                            <div class="col-md-10 col-sm-9 col-xs-12">
                                <h4>Chi tiết tài sản</h4>
                            </div>
                            <div class="col-md-2 col-sm-3 col-xs-12 text-right">
                                <Button Type="@ButtonType.Primary" OnClick="@AddAssetItemClick">Thêm tài sản</Button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <Table DataSource="@model.Details" Context="detailContext" Bordered="true">
                                    <ChildContent>
                                        <Column @bind-Field="@detailContext.RowId" Title="Tên tài sản"
                                                Sortable="false" Width="200px" ShowSorterTooltip="false">
                                            <FormItem>
                                                <Select DataSource="@assetTypeList" @bind-Value="@model.Details.FirstOrDefault(m => m.RowId == detailContext.RowId).AssetTypeIdValue" DefaultValue="@("")"
                                                        ValueName="@nameof(BaseSelectboxModel.Id)" LabelName="@nameof(BaseSelectboxModel.Name)"
                                                        AllowClear="true" class="form-group" tabindex="5"
                                                        OnSelectedItemChanged="@(item => { model.Details.FirstOrDefault(m => m.RowId == detailContext.RowId).AssetTypeId = item != null ? long.Parse(item.Id) : null; StateHasChanged(); })">
                                                </Select>
                                            </FormItem>
                                            <ValidationMessage For="() => model.Details.FirstOrDefault(m => m.RowId == detailContext.RowId).AssetTypeIdValue" />
                                        </Column>
                                        <Column @bind-Field="@detailContext.RowId" Title="Đơn giá"
                                                Sortable="true" ShowSorterTooltip="false" Width="120px">
                                            <FormItem>
                                                <AntDesign.InputNumber @bind-Value="@model.Details.FirstOrDefault(m => m.RowId == detailContext.RowId).Price" Size="@InputSize.Small"
                                                                       DefaultValue="0" MaxLength="15" tabindex="1" class="form-control"
                                                                       Formatter="@FormatMoney" Parser="@ParseMoney" TValue="decimal"
                                                                       OnChange="@(value => DetailValueChange(value))" />
                                            </FormItem>
                                            <ValidationMessage For="() => model.Details.FirstOrDefault(m => m.RowId == detailContext.RowId).Price" />
                                        </Column>
                                        <Column @bind-Field="@detailContext.RowId" Title="Số lượng"
                                                Sortable="true" ShowSorterTooltip="false" Width="120px">
                                            <FormItem>
                                                <AntDesign.InputNumber @bind-Value="@model.Details.FirstOrDefault(m => m.RowId == detailContext.RowId).Quantity" Size="@InputSize.Small"
                                                                       DefaultValue="0" MaxLength="4" tabindex="2" class="form-control"
                                                                       Formatter="@FormatMoney" Parser="@ParseMoney" TValue="float"
                                                                       OnChange="@(value => DetailValueChange(value))"/>
                                            </FormItem>
                                        </Column>
                                        <Column @bind-Field="@detailContext.RowId" Title="VAT (%)"
                                                Sortable="true" ShowSorterTooltip="false" Width="120px">
                                            <FormItem>
                                                <AntDesign.InputNumber @bind-Value="@model.Details.FirstOrDefault(m => m.RowId == detailContext.RowId).Vat" Size="@InputSize.Small"
                                                                       DefaultValue="0" MaxLength="5" tabindex="3" class="form-control"
                                                                       Formatter="@FormatMoney" Parser="@ParseMoney" TValue="float"
                                                                       OnChange="@(value => DetailValueChange(value))"/>
                                            </FormItem>
                                        </Column>
                                        <Column @bind-Field="@detailContext.RowId" Title="Thành tiền"
                                                Sortable="true" ShowSorterTooltip="false" Width="120px">
                                            <FormItem>
                                                <AntDesign.InputNumber @bind-Value="@model.Details.FirstOrDefault(m => m.RowId == detailContext.RowId).Total" Disabled="true" Size="@InputSize.Small"
                                                                       DefaultValue="0" MaxLength="5" tabindex="3" class="form-control"
                                                                       Formatter="@FormatMoney" Parser="@ParseMoney" />
                                            </FormItem>
                                        </Column>
                                        <Column @bind-Field="@detailContext.RowId" Title="Ghi chú"
                                                Sortable="true" ShowSorterTooltip="false">
                                            <FormItem>
                                                <Input @bind-Value="@model.Details.FirstOrDefault(m => m.RowId == detailContext.RowId).Notes" class="form-control" row="5" tabindex="8" />
                                            </FormItem>
                                        </Column>
                                        <ActionColumn Width="60px">
                                            <FormItem>
                                                <Button Danger="true" OnClick="@(() => RemoveDetailItem(detailContext.RowId))">X</Button>
                                            </FormItem>
                                        </ActionColumn>
                                    </ChildContent>
                                </Table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 mb-1">
                                <Button Type="@ButtonType.Primary" HtmlType="submit">Lưu</Button>
                                <Button Type="@ButtonType.Default" OnClick="BackToTheListClick">Danh sách</Button>
                            </div>
                        </div>
                    </Form>
                </Spin>
            </PanelContent>
        </HRMPanel>
    </Authorized>
    <NotAuthorized>
        <HrmNotAuthorize />
    </NotAuthorized>
</AuthorizeView>