@page "/hr/certificated"

@inject IJSRuntime jsRuntume
@inject NavigationManager navigationManager
@inject ICertificatedService certificatedService

<HRMPanel Title="Danh sách chứng chỉ">
    <ButtonGroup>
        <HrmButton Color="@Constant.Enums.Color.Primary" Text="Thêm mới" OnClick="AddNew" />
    </ButtonGroup>
    <PanelContent>
        <HrmTable Column="6">
            <Header>
                <HrmTableTr>
                    <HrmTableTh Text="Tên loại chứng chỉ" Sort="true" style="min-width: 200px;" />
                    <HrmTableTh Text="Thứ tự" Sort="true" style="width: 90px" TextAlign="@Constant.Enums.TextAlign.Right" />
                    <HrmTableTh Text="Sử dụng" Sort="false" style="width: 100px" />
                    <HrmTableTh Text="" Sort="false" style="width: 100px;" />
                </HrmTableTr>
            </Header>
            <Body>
                @if (tableLoading == true)
                {
                    <HrmTableTr>
                        <HrmTableTd Col="4">
                            <HrmLinearLoading />
                        </HrmTableTd>
                    </HrmTableTr>
                }
                else
                {
                    if (listData.Count() == 0)
                    {
                        <HrmTableNoData Column="4" />
                    }
                    else
                    {
                        foreach (var item in listData)
                        {
                            <HrmTableTr>
                                <HrmTableTd>
                                    @item.Name
                                </HrmTableTd>
                                <HrmTableTd TextAlign="@Constant.Enums.TextAlign.Right">
                                    @item.Precedence
                                </HrmTableTd>
                                <HrmTableTd>
                                    <HrmSwitch Checked="@item.IsActive" Disabled="true" />
                                </HrmTableTd>
                                <HrmTableTd TextAlign="@Constant.Enums.TextAlign.Center">
                                    <HrmButtonGroup Text="Chọn">
                                        <ActionItems>
                                            <HrmButtonGroupItem Text="Cập nhật" Data="item" T="CertificatedGridModel" OnClick="@UpdateClick" />
                                            <HrmDivider />
                                            @*<HrmButtonGroupItem text="Xóa" OnClick="@Delete(item)" />*@
                                        </ActionItems>
                                    </HrmButtonGroup>
                                </HrmTableTd>
                            </HrmTableTr>
                        }
                    }
                }

            </Body>
        </HrmTable>
    </PanelContent>
</HRMPanel>

@code {

    private bool tableLoading = true;

    private IEnumerable<CertificatedGridModel> listData = new List<CertificatedGridModel>();

    private CertificatedGridParameterModel parameterModel = new CertificatedGridParameterModel();

    protected override async Task OnInitializedAsync()
    {
        var result = await certificatedService.GridAsync(parameterModel);
        if (result.Succeeded)
        {
            listData = result.Data.List;
        }
        tableLoading = false;
    }

    private void AddNew()
    {
        navigationManager.NavigateTo("hr/certificated/create");
    }

    private void UpdateClick(CertificatedGridModel item)
    {
       navigationManager.NavigateTo($"hr/certificated/update/{item.Id}");
    }

    private void Delete(CertificatedGridModel item)
    {
        //navigationManager.NavigateTo($"hr/certificated/update/{item.Id}");
    }

    private void ShowMessage(MouseEventArgs e)
    {
        Console.WriteLine("Blazzing text from parent");
    }

}
