@page "/asset/create"
@page "/asset/update/{Id:long}"

<AuthorizeView Context="Auth">
    <Authorized>
        <HRMPanel Title="@pageTitle">
            <PanelContent>
                <Spin Spinning="@pageLoading">
                    <Form Model="@model" OnFinish="@OnFinish">
                        <div class="row">
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div class="mb-1">
                                    <label>Mã tài sản</label>
                                    <FormItem>
                                        <Input @bind-Value="@model.Code" class="form-control" MaxLength="50" tabindex="1" />
                                    </FormItem>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div class="mb-1">
                                    <label>Tên tài sản</label>
                                    <FormItem>
                                        <Input @bind-Value="@model.Name" class="form-control" MaxLength="150" tabindex="2" />
                                    </FormItem>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div class="mb-1">
                                    <label>Serial Number</label>
                                    <FormItem>
                                        <Input @bind-Value="@model.SerialNumber" class="form-control" MaxLength="50" tabindex="3" />
                                    </FormItem>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div class="mb-1">
                                    <label>Phân loại</label>
                                    <FormItem>
                                        <Select DataSource="@assetTypeList" @bind-Value="@model.AssetTypeIdValue" DefaultValue="@("")"
                                                ValueName="@nameof(BaseSelectboxModel.Id)" LabelName="@nameof(BaseSelectboxModel.Name)"
                                                AllowClear="true" class="form-group" tabindex="4"
                                                OnSelectedItemChanged="@(item => { model.AssetTypeId = item != null ? long.Parse(item.Id) : null; StateHasChanged(); })">
                                        </Select>
                                    </FormItem>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div class="mb-1">
                                    <label>Đơn vị cung cấp</label>
                                    <FormItem>
                                        <Select DataSource="@vendorList" @bind-Value="@model.VendorIdValue" DefaultValue="@("")"
                                                ValueName="@nameof(BaseSelectboxModel.Id)" LabelName="@nameof(BaseSelectboxModel.Name)"
                                                AllowClear="true" class="form-group" tabindex="5"
                                                OnSelectedItemChanged="@(item => { model.VendorId = item != null ? long.Parse(item.Id) : null; StateHasChanged(); })">
                                        </Select>
                                    </FormItem>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div class="mb-1">
                                    <label>Tình trạng</label>
                                    <FormItem>
                                        <Select DataSource="@assetStatusList" @bind-Value="@model.AssetStatusValue" DefaultValue="@("")"
                                                ValueName="@nameof(BaseSelectboxModel.Id)" LabelName="@nameof(BaseSelectboxModel.Name)"
                                                AllowClear="true" class="form-group" tabindex="6">
                                        </Select>
                                    </FormItem>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div class="mb-1">
                                    <label>Giá mua</label>
                                    <FormItem>
                                        <AntDesign.InputNumber @bind-Value="@model.Cost" class="form-control" Size="@InputSize.Small"
                                                               DefaultValue="0" MaxLength="15" tabindex="7"
                                                               Formatter="@FormatMoney" Parser="@ParseMoney" />
                                    </FormItem>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div class="mb-1">
                                    <label>Chi phí sửa chữa</label>
                                    <FormItem>
                                        <AntDesign.InputNumber @bind-Value="@model.FixingCost" Disabled="true" Size="@InputSize.Small"
                                                               DefaultValue="0" MaxLength="15" tabindex="8" class="form-control"
                                                               Formatter="@FormatMoney" Parser="@ParseMoney" />
                                    </FormItem>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div class="mb-1">
                                    <label>Chi phí bảo hành</label>
                                    <FormItem>
                                        <AntDesign.InputNumber @bind-Value="@model.MantenanceCost" Disabled="true" Size="@InputSize.Small"
                                                               DefaultValue="0" MaxLength="15" tabindex="9" class="form-control"
                                                               Formatter="@FormatMoney" Parser="@ParseMoney" />
                                    </FormItem>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div class="mb-1">
                                    <label>Ngày mua</label>
                                    <FormItem>
                                        <DatePicker @bind-Value="@model.BuyingDate" Format="MM/dd/yyyy" class="form-control" MaxLength="10" tabindex="10" />
                                    </FormItem>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div class="mb-1">
                                    <label>Ngày hết hạn bảo hành</label>
                                    <FormItem>
                                        <DatePicker @bind-Value="@model.WarrantyExpiryDate" Format="MM/dd/yyyy" class="form-control" MaxLength="10" tabindex="11" />
                                    </FormItem>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div class="mb-1">
                                    <label>Ngày thanh lý</label>
                                    <FormItem>
                                        <DatePicker @bind-Value="@model.LiquidationDate" Format="MM/dd/yyyy" class="form-control" MaxLength="50" tabindex="12" />
                                    </FormItem>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-sm-12 col-xs-12">
                                <div class="mb-1">
                                    <label>Đăng ký mượn thiết bị</label>
                                    <FormItem>
                                        <Checkbox @bind-Value="@model.IsAllowBorrow" class="form-check-input" tabindex="13" />
                                    </FormItem>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-sm-12 col-xs-12">
                                <div class="mb-1">
                                    <label>Sử dụng</label>
                                    <FormItem>
                                        <Checkbox @bind-Value="@model.IsActive" class="form-check-input" tabindex="14" />
                                    </FormItem>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="mb-1">
                                    <label>Ghi chú</label>
                                    <FormItem>
                                        <TextArea @bind-Value="@model.Notes" ShowCount="true" class="form-control" row="5" tabindex="15" />
                                    </FormItem>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 mb-1">
                                <Button Type="@ButtonType.Primary" HtmlType="submit">Lưu</Button>
                                <Button Type="@ButtonType.Default" OnClick="BackToTheListClick">Danh sách</Button>
                            </div>
                        </div>
                    </Form>
                </Spin>
            </PanelContent>
        </HRMPanel>
    </Authorized>
    <NotAuthorized>
        <HrmNotAuthorize />
    </NotAuthorized>
</AuthorizeView>
