@inject IJSRuntime js

<aside class="main-sidebar">
    <div class="sidebar" style="height: auto;">
        <div class="user-panel text-center">
            <div class="image">
                <img src="img/user/profile_img.png" class="img-circle" alt="User Image">
            </div>
            <div class="info">
                <p>jhon Anderson</p>
                <a href="#"><i class="fa fa-circle text-success"></i> Admin</a>
            </div>
        </div>
        <ul class="sidebar-menu">
            <AuthorizeView>
                <Authorized>
                    <li class="treeview">
                        <a href="https://newhrm.bdtask.com/hrm_v4.3_demo/dashboard/home">
                            <i class="ti-dashboard"></i> <span>Dashboard</span>
                        </a>
                    </li>
                    <li class="treeview ">
                        <a href="javascript:void(0)">
                            <i class="ti-bag"></i> <span>Accounts</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li class="">
                                <a href="https://newhrm.bdtask.com/hrm_v4.3_demo/accounts/accounts/show_tree">Chart of Account</a>
                            </li>
                            <li class="">
                                <a href="https://newhrm.bdtask.com/hrm_v4.3_demo/accounts/accounts/balance_adjustment">Balance Adjustment</a>
                            </li>
                            <li class="">
                                <a href="https://newhrm.bdtask.com/hrm_v4.3_demo/accounts/accounts/cash_adjustment">Cash Adjustment</a>
                            </li>
                            <li class="">
                                <a href="https://newhrm.bdtask.com/hrm_v4.3_demo/accounts/accounts/bank_adjustment">Bank Adjustment</a>
                            </li>
                            <li class="">
                                <a href="https://newhrm.bdtask.com/hrm_v4.3_demo/accounts/accounts/payment_type">Payment Type</a>
                            </li>
                            <li class="">
                                <a href="https://newhrm.bdtask.com/hrm_v4.3_demo/accounts/accounts/debit_voucher">Debit Voucher</a>
                            </li>
                            <li class="">
                                <a href="https://newhrm.bdtask.com/hrm_v4.3_demo/accounts/accounts/credit_voucher">Credit Voucher</a>
                            </li>
                            <li class="">
                                <a href="https://newhrm.bdtask.com/hrm_v4.3_demo/accounts/accounts/contra_voucher">Contra Voucher</a>
                            </li>
                            <li class="">
                                <a href="https://newhrm.bdtask.com/hrm_v4.3_demo/accounts/accounts/journal_voucher">Journal Voucher</a>
                            </li>
                            <li class="">
                                <a href="https://newhrm.bdtask.com/hrm_v4.3_demo/accounts/accounts/aprove_v">Voucher Approval</a>
                            </li>
                            <li class="">
                                <a href="#">
                                    Account Report <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
                                </a>
                                <ul class="treeview-menu ">
                                    <li class=""><a href="https://newhrm.bdtask.com/hrm_v4.3_demo/accounts/accounts/cash_book">Cash Book</a></li>
                                    <li class=""><a href="https://newhrm.bdtask.com/hrm_v4.3_demo/accounts/accounts/bank_book">Bank Book</a></li>
                                    <li class=""><a href="https://newhrm.bdtask.com/hrm_v4.3_demo/accounts/accounts/general_ledger">General Ledger</a></li>
                                    <li class=""><a href="https://newhrm.bdtask.com/hrm_v4.3_demo/accounts/accounts/trial_balance">Trial Balance</a></li>
                                    <li class=""><a href="https://newhrm.bdtask.com/hrm_v4.3_demo/accounts/accounts/profit_loss_report">Profit Loss</a></li>
                                    <li class=""><a href="https://newhrm.bdtask.com/hrm_v4.3_demo/accounts/accounts/cash_flow_report">Cash Flow</a></li>
                                    <li class=""><a href="https://newhrm.bdtask.com/hrm_v4.3_demo/accounts/accounts/coa_print">Coa Print</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li id="assetMainMenu" data-level="1" class="treeview">
                        <a href="javascript:void(0)" @onclick="@(() => MenuClick("assetMainMenu"))">
                            <i class="fa fa-tags" aria-hidden="true"></i>
                            <span>Quản lý tài sản</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li id="assetTypeMenu" data-level="2" class="active">
                                <a href="asset/type" @onclick="@(() => MenuClick("assetTypeMenu"))">Loại tài sản</a>
                            </li>
                            <li id="assetItemMenu" data-level="2" class="">
                                <a href="asset/list" @onclick="@(() => MenuClick("assetItemMenu"))">Danh sách tài sản</a>
                            </li>
                            <li id="assetFixingMenu" data-level="2" class="">
                                <a href="asset/fixing" @onclick="@(() => MenuClick("assetFixingMenu"))">Sửa chữa</a>
                            </li>
                            <li id="assetHandoverInvoiceMenu" data-level="2" class="">
                                <a href="asset/handover-invoice" @onclick="@(() => MenuClick("assetHandoverInvoiceMenu"))">Phiếu bàn giao</a>
                            </li>
                            <li id="assetUseManagementMenu" data-level="3" class="">
                                <a href="asset/use-management" @onclick="@(() => MenuClick("assetUseManagementMenu"))">Quản lý sử dụng</a>
                            </li>
                            <li id="assetContractMenu" data-level="2" class="">
                                <a href="javascript:{}" @onclick="@(() => MenuClick("assetContractMenu"))">
                                    <span>Quản lý Hợp đồng</span>
                                    <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
                                </a>
                                <ul class="treeview-menu ">
                                    <li id="assetContractListMenu" data-level="4" class="">
                                        <a href="asset/contract" @onclick="@(() => MenuClick("assetContractListMenu"))">Danh sách hợp đồng</a>
                                    </li>
                                    <li id="assetContractPaymentMenu" data-level="4" class="">
                                        <a href="asset/contract/payment" @onclick="@(() => MenuClick("assetContractPaymentMenu"))">Thanh toán</a>
                                    </li>
                                </ul>
                            </li>
                            <li id="assetLiquidationMenu" data-level="2" class="">
                                <a href="asset/liquidation" @onclick="@(() => MenuClick("assetLiquidationMenu"))">Thanh lý</a>
                            </li>
                            <li id="assetBorrowReturnInfoMenu" data-level="3">
                                <a href="javascript:{}" @onclick="@(() => MenuClick("assetBorrowReturnInfoMenu"))">
                                    <span>Đăng ký mượn trả</span>
                                    <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
                                </a>
                                <ul class="treeview-menu ">
                                    <li id="assetBorrowListMenu" data-level="4" class="">
                                        <a href="asset/borrow-info/list" @onclick="@(() => MenuClick("assetBorrowListMenu"))">Danh sách</a>
                                    </li>
                                    <li id="assetBorrowRegisterMenu" data-level="4" class="">
                                        <a href="asset/borrow-info/register" @onclick="@(() => MenuClick("assetBorrowRegisterMenu"))">Đăng ký mượn</a>
                                    </li>
                                    <li id="assetReturnRegistorMenu" data-level="4" class="">
                                        <a href="asset/borrow-info/return" @onclick="@(() => MenuClick("assetReturnRegistorMenu"))">Đăng ký trả</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li id="hrMenu" data-level="1" class="treeview">
                        <a href="javascript:void(0)" @onclick="@(() => MenuClick("hrMenu"))">
                            <i class="fa fa-id-card-o" aria-hidden="true"></i>
                            <span>Quản lý nhân sự</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li id="hrLeaveMenu" data-level="3">
                                <a href="javascript:{}" @onclick="@(() => MenuClick("hrLeaveMenu"))">
                                    <span>Quản lý nghỉ phép</span>
                                    <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
                                </a>
                                <ul id="hrLeaveManagementMenuContent" class="treeview-menu">
                                    <li data-level="4" class=""><a href="javascript:{}">Dashboard</a></li>
                                    <li data-level="4" class=""><a href="javascript:{}">Danh sách nghỉ phép</a></li>
                                    <li data-level="4" class=""><a href="javascript:{}">Đăng ký nghỉ phép</a></li>
                                </ul>
                            </li>
                            <li data-level="3" class="active">
                                <a href="javascript:{}" data-level="3">
                                    <span>Nhân viên</span>
                                    <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
                                </a>
                                <ul class="treeview-menu">
                                    <li data-level="4" class=""><a href="javascript:{}">Danh sách nhân viên</a></li>
                                    <li data-level="4" class=""><a href="javascript:{}">Danh sách trả</a></li>
                                </ul>
                            </li>
                            <li id="hrContactMenu" data-level="3">
                                <a href="javascript:{}" @onclick="@(() => MenuClick("hrContactMenu"))">
                                    <span>Thông tin liên hệ</span>
                                    <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
                                </a>
                                <ul class="treeview-menu ">
                                    <li data-level="4" class=""><a href="#">Nhân sự thuê ngoài</a></li>
                                    <li id="hrContactVendorMenu" data-level="4" class=""><a href="hr/contact/vendor" @onclick="@(() => MenuClick("hrContactVendorMenu"))">Nhà cung cấp</a></li>
                                    <li id="hrContactClientMenu" data-level="4" class=""><a href="hr/contact/client" @onclick="@(() => MenuClick("hrContactClientMenu"))">Khách hàng</a></li>
                                    <li id="hrContactProjectMenu" data-level="4" class=""><a href="hr/contact/project" @onclick="@(() => MenuClick("hrContactProjectMenu"))">Dự án</a></li>
                                </ul>
                            </li>
                            <li id="hrSettingMenu" data-level="3">
                                <a href="javascript:{}" @onclick="@(() => MenuClick("hrSettingMenu"))">
                                    <span>Thiết lập</span>
                                    <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
                                </a>
                                <ul class="treeview-menu ">
                                    <li data-level="4" class=""><a href="hr/setting/holiday">Kỷ luật</a></li>
                                    <li data-level="4" class=""><a href="hr/setting/holiday">Khen thưởng</a></li>
                                    <li data-level="4" class=""><a href="hr/setting/holiday">Thiết lập ngày nghỉ</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li id="recruitmentMainMenu" data-level="1" class="treeview" @onclick="@(() => MenuClick("recruitmentMainMenu"))">
                        <a href="javascript:void(0)">
                            <i class="fa fa-address-card-o" aria-hidden="true"></i>
                            <span>Tuyển dụng</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li data-level="2" class="active">
                                <a href="#">Danh sách tỉnh thành phố</a>
                            </li>
                            <li data-level="2" class="">
                                <a href="#">Danh sách khen thưởng</a>
                            </li>
                            <li data-level="2" class="">
                                <a href="#">Quản lý sử dụng</a>
                            </li>
                        </ul>
                    </li>
                    <li id="settingMainMenu" data-level="1" class="treeview">
                        <a href="javascript:void(0)" @onclick="@(() => MenuClick("settingMainMenu"))">
                            <i class="fa fa-cogs" aria-hidden="true"></i>
                            <span>Thiết lập</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li id="settingCertificatedMenu" data-level="2" @onclick="@(() => MenuClick("settingCertificatedMenu"))">
                                <a href="setting/certificated">Loại chứng chỉ</a>
                            </li>
                            <li id="settingProfessionQualificationMenu" data-level="2" @onclick="@(() => MenuClick("settingProfessionQualificationMenu"))">
                                <a href="setting/professional-qualification">Trình độ chuyên môn</a>
                            </li>
                            <li id="settingMaritalStatusMenu" data-level="2" @onclick="@(() => MenuClick("settingMaritalStatusMenu"))">
                                <a href="setting/marital-status">Tình trạng hôn nhân</a>
                            </li>
                            <li id="settingMajorMenu" data-level="2" @onclick="@(() => MenuClick("settingMajorMenu"))">
                                <a href="setting/major">Chuyên ngành đào tạo</a>
                            </li>
                            <li id="settingSchoolMenu" data-level="2" @onclick="@(() => MenuClick("settingSchoolMenu"))">
                                <a href="setting/school">Trường đào tạo</a>
                            </li>
                        </ul>
                    </li>
                </Authorized>
            </AuthorizeView>

        </ul>
    </div>
</aside>

@code {

    private List<SidebarModel> models = new List<SidebarModel>();

    private string menuIdSelected = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        await js.Log("Initialize");

        models.Add(
            new SidebarModel()
            {
                Id = "1",
                Title = "Menu 1",
                Href = "/counter",
                Icon = "",
                MenuItems = new List<SidebarModel>(),
            }
        );
        models.Add(
            new SidebarModel()
            {
                Id = "2",
                Title = "Menu 2",
                Href = "/counter",
                Icon = "",
                MenuItems = new List<SidebarModel>() {
                    new SidebarModel()
                    {
                        Id = "4",
                        Title = "Menu Sub 1 - 1",
                        Href = "/counter",
                        Icon = "",
                    },
                    new SidebarModel()
                    {
                        Id = "5",
                        Title = "Menu Sub1  - 2",
                        Href = "/counter",
                        Icon = "",
                    },
                    new SidebarModel()
                    {
                        Id = "6",
                        Title = "Menu Sub 1 - 2",
                        Href = "/counter",
                        Icon = "",
                    }
                                                },
            }
        );
        models.Add(
            new SidebarModel()
            {
                Id = "3",
                Title = "Menu 3",
                Href = "/counter",
                Icon = "",
                MenuItems = new List<SidebarModel>() {
                    new SidebarModel()
                    {
                        Id = "7",
                        Title = "Menu Sub 3 - 1",
                        Href = "/counter",
                        Icon = "",
                    },
                    new SidebarModel()
                    {
                        Id = "8",
                        Title = "Menu Sub 3 - 2",
                        Href = "/counter",
                        Icon = "",
                    },
                    new SidebarModel()
                    {
                        Id = "9",
                        Title = "Menu Sub 3 - 2",
                        Href = "/counter",
                        Icon = "",
                    }
                                                },
            }
        );
    }

    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender)
        {
            if (!string.IsNullOrEmpty(menuIdSelected))
            {
                await js.ExpandSidebar(menuIdSelected);
            }
        }
    }

    private void MenuClick(string id)
    {
        menuIdSelected = id;
    }

}
