@layout UnAuthenticationLayout

@page "/login"
@page "/login/{ReturnUrl}"

@inject NavigationManager navigationManager
@inject IClientStorageService localStorage 
@inject AuthenticationStateProvider authenticationStateProvider
@inject IHttpClientService httpClientService


<div class="row">
    <div class="col-md-4 col-sm-3"></div>
    <div class="col-md-4 col-sm-6">
        <div class="login-wrapper">
            <div class="container-center">
                <div class="panel panel-bd">
                    <div class="panel-heading">
                        <div class="view-header">
                            <div class="header-icon">
                                <i class="pe-7s-unlock"></i>
                            </div>
                            <div class="header-title">
                                <h3 style="padding-top: 10px;">HRM Login</h3>
                            </div>
                        </div>
                        <div class="row">

                        </div>
                    </div>
                    <div class="panel-body">
                        <Form Model="@model" OnFinish="@LoginClick">
                            <div class="row">
                                <div class="col-12 mb-1">
                                    <label class="control-label" for="userName">Tên đăng nhập</label>
                                    <FormItem>
                                        <Input @bind-Value="@model.UserName" class="form-control" MaxLength="50" placeholder="Tên đăng nhập" tabindex="1" />
                                    </FormItem>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 mb-1">
                                    <label class="control-label" for="userName">Tên đăng nhập</label>
                                    <FormItem>
                                        <InputPassword @bind-Value="@model.Password" class="form-control" MaxLength="100" placeholder="Mật khẩu" tabindex="2" />
                                    </FormItem>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 mb-1">
                                    <Button Type="@ButtonType.Primary" HtmlType="submit">Đăng nhập</Button>
                                </div>
                            </div>
                        </Form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-3"></div>
</div>


@code {

    [CascadingParameter]
    Task<AuthenticationState> authenticationTask { get; set; }

    [Parameter]
    public string ReturnUrl { get; set; }

    private LoginModel model = new LoginModel();

    protected override async Task OnInitializedAsync()
    {
        var authTask = await authenticationTask;

        if(authTask.User != null && authTask.User.Identity.IsAuthenticated == true)
        {
            navigationManager.NavigateTo("/");
        }

        base.OnInitialized();
    }

    private async Task LoginClick()
    {
        var response = await httpClientService.Post<LoginModel, HttpDataResponseWrapper<TokenModel>>("auth/login", model);

        if (response.Succeeded)
        {
            await ((HrmAuthenticationStateProvider)authenticationStateProvider).DoLogin(response.Data);

            navigationManager.NavigateTo("/");

        }
    }
}
