@page "/setting/professional-qualification/create"
@page "/setting/professional-qualification/update/{Id:long}"

<AuthorizeView Context="Auth">
    <Authorized>
        <HRMPanel Title="@pageTitle">
            <ButtonGroup>
                <Button Type="@ButtonType.Primary" OnClick="@OnSubmitClick">Lưu</Button>
                <Button Type="@ButtonType.Default" OnClick="@BackToTheListClick">Danh sách</Button>
            </ButtonGroup>
            <PanelContent>
                <Spin Spinning="@pageLoading">
                    <Form @ref="@form" Model="@model" OnFinish="@OnFinish">
                        <div class="row">
                            <div class="col-md-4 col-sm-12 col-xs-12">
                                <div class="mb-3">
                                    <label>Tên</label>
                                    <FormItem>
                                        <Input @bind-Value="@model.Name" class="form-control" MaxLength="150" tabindex="1" />
                                    </FormItem>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-sm-12 col-xs-12">
                                <div class="mb-3">
                                    <label>Thứ tự hiển thị</label>
                                    <FormItem>
                                        <AntDesign.InputNumber @bind-Value="@model.Precedence" Size="@InputSize.Small"
                                                               DefaultValue="0" MaxLength="3" tabindex="2" class="form-control" />
                                    </FormItem>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-sm-12 col-xs-12">
                                <div class="mb-1">
                                    <label>Sử dụng</label>
                                    <FormItem>
                                        <Checkbox @bind-Value="@model.IsActive" class="form-check-input" tabindex="3" />
                                    </FormItem>
                                </div>
                            </div>
                        </div>
                    </Form>
                </Spin>
            </PanelContent>
        </HRMPanel>
    </Authorized>
    <NotAuthorized>
        <HrmNotAuthorize />
    </NotAuthorized>
</AuthorizeView>
